<html>

<head>
    <style>
        * {
            font-size: 16px;
        }
    </style>
    <script>
        const vscode = acquireVsCodeApi();
        function init() {
            vscode.postMessage({ command: "init" });
        } 
    </script>
</head>

<body>
    <div>
        <h3>这是一个ArkTs/UI的扩展库. 能够实现快速的创建、初始化、构建和运行你的项目。</h3>
        <h2>要求</h2>
        <p>VsCode 1.75.0以后版本</p>
        <h2>扩展设置</h2>
        <p>本扩展包含一下设置项:</p>
        <ul>
            <li><code>arktsTools.hosSdkPath</code>: HarmonyOS SDK的绝对路径</li>
            <li><code>arktsTools.ohosSdkPath</code>: OpenHarmony SDK的绝对路径</li>
            <li><code>arktsTools.commandToolsPath</code>: Command Line Tools的绝对路径</li>
            <li><code>arktsTools.codelinterReloadChange</code>: 在文件、资源、文件夹变更后刷新项目结构</li>
            <li><code>arktsTools.codelinterCheckAfterSave</code>: 保存文件后运行codelinter</li>
            <li><code>arktsTools.intellisensesModulesPath</code>: intellisenses规则文件的绝对路径. 注意! 文件名必须以\"ets_role_***.json\"开头</li>
        </ul>
        <div>
            <p>
                <strong>关于自动构建工具初始化。但仍建议自行配置，以防自动脚本破坏系统环境! </strong>
            </p>
            <p>请根据这个
                <a
                    href="https://developer.huawei.com/consumer/cn/doc/harmonyos-guides-V5/ide-commandline-get-0000001954334245-V5">向导</a>
                完成环境配置
            </p>
            <p>然后在完善扩展设置</p>
            <a href="javascript:;" onclick="init();">自动配置</a>
        </div>
    </div>
    <div>
        <h2>Intellisenses模块要求</h2>
        <p>配置字段</p>
        <p>1 - root: 包名或模块名, 如原生模块的'std'</p>
        <p>2 - digit: 判断触发层级。比如, 如果为1会在你键入"import std."的时候会触发此下的内容。如果为会在你键入"import std.collection."时触发</p>
        <p>3 - libs: 在当前包下的所有模块名</p>
        </p>
    </div>
</body>

</html>